upstream mp {
    server unix:/tmp/mp.sock fail_timeout=0;
}

server {
  listen                80; # default;
  server_name           mp2.unionpaysmart.com;
  root                  /var/data/mp/public;

  location / {
    access_log          off;

    include proxy_params;
    proxy_redirect off;

    if (-f $request_filename) {
      access_log          off;
      expires             max;
      break;
    }

    if (-f $request_filename.html) {
      rewrite (.*) $1.html break;
    }

    if (!-f $request_filename) {
      proxy_pass          http://mp;
      break;
    }
  }
}